* {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 40px;
	background: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	ul {
		list-style: none;
		li {
			display: inline;
			margin-right: 10px;
			align-items: ce;
			a {
				text-decoration: none;
				color: white;
				&:hover {
					color: rgb(157, 154, 154);
				}
				font-size: large;
			}
		}
	}
}

.content {
	width: 100%;
	
	background: rgb(212, 234, 182);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	li {
		.item {
			width: 350px;
			height: 450px;
			background: rgb(255, 255, 255);
			margin: 40px;
			text-align: center;
			img {
				width: 180px;
				height: 150px;
			}
			position: relative;
			.cart {
				width: 100%;
				height: 20px;
					
					color: white;
					border: none;
					border-radius: 5px;
				}
			}

		}
	}
	


