.error {
    display: block;
    color: red;
    font-size: 14px;
    width: 350px;
    display: none;
    // visibility: hidden;
}
.error2 {
    display: block;
    color: red;
    font-size: 14px;
    width: 350px;
    display: none;
    // visibility: hidden;
}